<div class="row">
    <div class="col-md-12">
        <h1>Dashboard</h1> </div>
    <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
            <li role="presentation"><a href="#Wheather" aria-controls="Wheather" role="tab" data-toggle="tab">Wheather</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home"></div>
            <div role="tabpanel" class="tab-pane" id="profile"></div>
            <div role="tabpanel" class="tab-pane" id="messages"></div>
            <div role="tabpanel" class="tab-pane" id="Wheather">
                <div class="weather pull-right">
                    <div class="city"></div> 
                    <span class="temp"></span> 
                    <span class="icon"></span> 
                </div>
            </div>
        </div>
    </div>
</div>